/* Generic Selectors */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin:0;
}


/************************* ID's *************************/
nav {
	background-color: black;
	min-height: 80px;
}
nav ul{
	font-size: 23px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	padding-top: 25px;
	float: right;
	text-align: right;
}
nav li {
	margin-right: 20px;
	color: white;
	display: inline;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	border-bottom: 3px solid white;
}
#header {
	text-align: center;
	height: 600px;
	background-image: url("cover3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#header h1 {
	color: white;
	font-size:80px;
	font-family: "Arial Black", sans-serif;
	font-style: bold;
	padding-top: 230px;
}
#header img {
	float: left;
	width: 250px;
	height: 250px;
	margin-left: 130px;
	margin-right: -250px;
	padding-top: 180px;
}




#achievement {
	text-align: center;
	background-image: url(achievementBG.jpg);
	min-height:130px;
  padding-top: 80px;
	color: white;
	font-family: "Garamond", serif;
	font-size: 40px;
}

#purdue {
  height:300px;
  padding-right: 20%;
  padding-top: 100px;
  padding-left: 20%;
}
#purdue img {
  padding-right: 100px;
  padding-bottom: 150px;
  width:200px;
  height:100px;
  float:left;
}

#aeste {
  height:360px;
	padding-left: 20%;
  padding-top: 3%;
}
#aeste img{
   float:right;
   width:250px;
   height:180px;
   padding-left: 15%;
   padding-bottom: 100px;
   padding-right: 15%;
}

#jobCrawler {
  height:300px;
  padding-right: 20%;
  padding-top: 40px;
  padding-left: 20%;
}
#jobCrawler img {
  padding-right: 100px;
  width:200px;
  height:200px;
  float:left;
}
#jobCrawler video{
  float: left;
  width: 550px;
  height: 350px;
  padding-right: 20px;
}

#spark {
  height: 460px;
	padding-left: 20%;
  padding-bottom: 100px;
  padding-top: 480px;
}
#spark p {
  padding-right: 20%;
}
#spark img {
  float:left;
  width:180px;
  height:70px;
  padding-bottom: 200px;
  padding-right: 100px;
}
#spark video{
  float: left;
  width: 550px;
  height: 350px;
  padding-right: 20px;
}


#TA {
	height: 400px;
  padding-left: 20%;
  padding-top: 200px;
}
#TA img{
   float:right;
   width:200px;
   height:100px;
   padding-bottom: 150px;
   padding-right: 15%;
   padding-left: 15%;
}

#contact {
	background-color: black;
	padding-top: 5px;
  width:100%;
}
#contact p {
	color: white;
	font-size: 20px;
	margin-top: -10px;
}
#contact ul{
	padding-bottom: 10px;
  padding-top: 10px;
  width:270px;
	margin:0 auto;
}
#contact li {
	display: inline;
	margin: 20px;
}
