/* Generic Selectors */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin:0;
}

/************************* ID's *************************/
#header {
	text-align: center;
	min-height: 500px;
	background-image: url("cover2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#header h1 {
	color: white;
	font-size:60px;
	font-family: "Arial Black", sans-serif;
	font-style: bold;
	padding-top: 200px;
}
#header img {
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 130px;
	margin-right: -250px;
	margin-top: 150px;
}

nav {
	background-color: black;
	min-height: 80px;
}
nav ul{
	font-size: 23px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	padding-top: 25px;
	float: right;
	text-align: right;
}
nav li {
	margin-right: 20px;
	color: white;
	display: inline;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	border-bottom: 3px solid white;
}

#parallax {
	background-image: url("cover.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 700px;
}
.caption {
	padding-top: 280px;
	font-size: 100px;
	text-align: center;
	color: white;
}

#sunshine {
	background-image: url("cover4.jpg");
	background-repeat: no-repeat;
	min-height: 700px;
	background-size: 100%;
	background-position: bottom center;
}
#sunshine h1{
	font-family: "Arial Black", cursive, sans-serif;
	font-size: 30px;
	text-align: center;
	color: black;
	padding-top: 60px;
}

#contact {
	background-color: black;
	padding-top: 5px;
  width:100%;
}
#contact p {
	color: white;
	font-size: 20px;
	margin-top: -10px;
}
#contact ul{
	padding-bottom: 10px;
  padding-top: 10px;
  width:270px;
	margin:0 auto;
}
#contact li {
	display: inline;
	margin: 20px;
}
@media screen and (max-width: 481px){
  #header {
  	text-align: center;
  	min-height: 500px;
  	background-image: url("cover2.jpg");
  	background-repeat: no-repeat;
  	background-size: 100%;
  }
  #header h1 {
  	color: white;
  	font-size:400%;
  	font-family: "Arial Black", sans-serif;
  	font-style: bold;
  	padding-top: 8%;
  }
  #header img {
  	float: left;
  	width: 10%;
  	height: 10%;
  	margin-left: 10%;
  	margin-right: -20%;
  	margin-top: 150px;
  }
  #parallax {
  	background-image: url("cover.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
  	background-size: 100%;
  	min-height: 700px;
  }
  .caption {
    font-size: 50px;
  }
  #sunshine h1  {
   font-size: 30px;
  }

}
