/* Generic Selectors */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	width: 60%;
	font-size: 16px;
	color: #5c8ad6;
}

h1 {
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #C6EC8C;
}

h3 {
	color: #1ebf5e;
}

/**************** Pseudo classes ****************/
a:link {
	color: rgb(0, 96, 255);
	text-decoration: underline;
	font-weight: bold;
}

a:visited {
	color: #00CC00;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #00CC00;
	padding-bottom: 5px;
	font-weight: bold;
}

a:active {
	color: rgb(0, 96, 255);
	font-weight: bold;
}

ul {
	list-style-type: disc;
	color: #5c8ad6;
}
/************************* ID's *************************/
#header {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fcfcf7;
}

#header h1{
	color: black;
}

#achievement h1{
	text-align: center;
	background-color: grey;
	padding-top: 80px;
	padding-bottom: 80px;
	color: white;
}

#purdue {
	width:60%;
	margin-top: 2%;
	margin-left: 20%;
	border-bottom: 2px solid grey;
}

#purdue p {
	width:80%;
	margin-bottom: 5%;
}

#Aeste {
	width:60%;
	margin-left: 20%;
	border-bottom: 2px solid grey;
}

#spark {
	width:60%;
	margin-top: 3%;
	margin-left: 20%;
}

#contact {
	margin-top: 60px;
	background-color: black;
	padding-top: 10px;
}
#contact p {
	color: white;
	font-size: 20px;
}
.pic {
	margin-left:45%;
}
