/* Generic Selectors */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	width: 60%;
	font-size: 16px;
	color: #5c8ad6;
}

h1 {
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #C6EC8C;
}

h3 {
	color: #1ebf5e;
}

/**************** Pseudo classes ****************/
a:link {
	color: rgb(0, 96, 255);
	text-decoration: underline;
	font-weight: bold;
}

a:visited {
	color: #00CC00;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #00CC00;
	padding-bottom: 5px;
	font-weight: bold;
}

a:active {
	color: rgb(0, 96, 255);
	font-weight: bold;
}

/************************* ID's *************************/
#header {
	text-align: center;
}

#header1 {
	background: url('bg.jpg') no-repeat 0 -180px;
	position: absolute;
}

#header h1{
	color: #ffffff;
}
#header a{
}

#achievement h1{
	text-align: center;
	background-color: grey;
	min-height: 100px;
	padding-top: 80px;
	margin: 0;
}

#purdue {
	width:100%;
	margin-top: 2%;
	margin-left: 20%;
}

#Aeste {
	width:100%;
	margin-top: 5%;
	margin-left: 20%;
}

#spark {
	width:100%;
	margin-left: 20%;
}

#contact {
	margin-top: 60px;
	background-color: #8290a3;
	border-top-style: solid;
	border-top-color: black;
	padding-top: 10px;
}
#contact p {
	color: white;
	font-size: 8px;
}
