/* Generic Selectors */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin:0;
}


/************************* ID's *************************/
#header {
	text-align: center;
	min-height: 650px;
	background-image: url("cover3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
  background-position: center;
}
#header h1 {
	color: white;
	font-size:60px;
	font-family: "Arial Black", sans-serif;
	font-style: bold;
	padding-top: 300px;
}
#header img {
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 130px;
	margin-right: -250px;
	padding-top: 250px;
}

nav {
	background-color: black;
	min-height: 80px;
}
nav ul{
	font-size: 23px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	padding-top: 25px;
	float: right;
	text-align: right;
}
nav li {
	margin-right: 20px;
	color: white;
	display: inline;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	border-bottom: 3px solid white;
}

#achievement {
	text-align: center;
	background-image: url(achievementBG.jpg);
	min-height:130px;
  padding-top: 80px;
	color: white;
	font-family: "Garamond", serif;
	font-size: 40px;
}

#purdue {
  	padding-top: 150px;
    padding-bottom: 150px;
    float: left;
}
#purdue::before, #purdue::after {
    display: table;
    content: " ";
}
#purdue::after {
  clear: both;
}

#purdue img {
	margin-left: 20%;
  width:200px;
  height:100px;

}
.purduetext {
	width:50%;
	margin-left: 100px;
}

#Aeste {
	width:60%;
	margin-left: 20%;
	border-bottom: 2px solid grey;
}

#spark {
	width:60%;
	margin-top: 3%;
	margin-left: 20%;
	border-bottom: 2px solid grey;
}


#TA {
	width:60%;
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 40px;
}

#contact {
	background-color: black;
	padding-top: 5px;
}
#contact p {
	color: white;
	font-size: 20px;
	margin-top: -10px;
}
#contact ul{
	margin-left: 45%;
}
#contact li {
	display: inline;
	margin: 20px;
}
